In [1]:
import pandas as pd
import numpy as np

In [2]:
Purchase_details=pd.read_csv(r"C:\Users\GURU PRAVEEN REDDY J\Desktop\Datasets\Vendor Data Project Datasets\data\purchase_details.csv")

In [3]:
Purchase_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          object
 9   ReceivingDate   object
 10  InvoiceDate     object
 11  PayDate         object
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: float64(2), int64(6), object(8)
memory usage: 289.6+ MB

In [4]:
Purchase_details.sample(5)

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
1139065,12_LEESIDE_24805,12,24805,Menage a Trois Silk Soft Red,750mL,8892,TRINCHERO FAMILY ESTATES,10933,2024-06-26,2024-07-05,2024-07-18,2024-08-22,6.84,36,246.24,2
2111745,15_WANBORNE_28947,15,28947,R M Woodbridge Merlot Cal,1.5L,1392,CONSTELLATION BRANDS INC,13163,2024-11-22,2024-12-01,2024-12-13,2025-01-08,5.91,2,11.82,2
1431509,25_CAERSHIRE_3485,25,3485,Luksusowa Potato Vodka,1.75L,4425,MARTIGNETTI COMPANIES,11614,2024-08-11,2024-08-16,2024-08-22,2024-09-22,15.03,5,75.15,1
1675056,62_KILMARNOCK_8691,62,8691,Jose Cuervo Especial,750mL,7245,PROXIMO SPIRITS INC.,12099,2024-09-14,2024-09-21,2024-09-29,2024-10-28,11.90,12,142.80,1
1060655,49_GARIGILL_3929,49,3929,Los Amantes Mezcal,750mL,6785,PALM BAY INTERNATIONAL INC,10759,2024-06-20,2024-06-28,2024-07-06,2024-08-10,31.15,6,186.90,1

In [5]:
Purchase_details.isnull().sum()

InventoryId       0
Store             0
Brand             0
Description       0
Size              3
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64

In [6]:
### There are 3 nan values in the data

In [7]:
Purchase_details.dropna(inplace=True)

In [8]:
replace_dict = {
    '1.75L': 1750, '1.5L': 1500, '3L': 3000, '5L': 5000, '4L': 4000, '6L': 6000,
    '9L': 9000, '18L': 18000, '19.5L': 19500, '20L': 20000,
    '128.0 Gal': 48453,  # 128 gal * 3785.41
    '750mL': 750, '375mL': 375, '200mL': 200, '100mL': 100, '50mL': 50, '500mL': 500,
    '250mL': 250, '300mL': 300, '720mL': 720, '330mL': 330, '400mL': 400, '180mL': 180,
    '187mL': 187, 'Liter': 1000,
    '50mL 3 Pk': 150, '50mL 4 Pk': 200, '50mL 5 Pk': 250, '50mL 12 Pk': 600,
    '100mL 4 Pk': 400, '200mL 3 Pk': 600, '200mL 4 Pk': 800, '200mL 5 Pk': 1000,
    '187mL 2 Pk': 374, '187mL 3 Pk': 561, '187mL 4 Pk': 748,
    '250mL 4 Pk': 1000, '375mL 2 Pk': 750, '375mL 3 Pk': 1125,
    '750mL 2 Pk': 1500, '750mL 3 Pk': 2250, '750mL 4 Pk': 3000, '750mL 6 Pk': 4500,
    '3/100mL': 300, '5/2 oz': 74,  # 2 oz = 59.15 ml → 5/2 oz = 2.5 oz = 73.9 ml
    '5.0 Oz': 147.87, '22.0 Oz': 651.62,
    '750mL + 1/': 750, '750mL + 2/': 750, '750mL + 3/': 750
}

In [9]:
Purchase_details["Volume"]=Purchase_details["Size"].replace(replace_dict)

In [10]:
Purchase_details["Volume"]=Purchase_details["Volume"].astype("float")

In [11]:
Purchase_details[Purchase_details["Description"]!=Purchase_details["Description"].str.strip()]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, PurchasePrice, Quantity, Dollars, Classification, Volume]
Index: []

In [12]:
Purchase_details[Purchase_details["VendorName"]!=Purchase_details["VendorName"].str.strip()]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,Volume
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1,750.0
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1,1750.0
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1,1750.0
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1,1750.0
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1,750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2372469,49_GARIGILL_22298,49,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-28,2025-01-09,2025-02-06,8.06,12,96.72,2,750.0
2372470,1_HARDERSFIELD_19556,1,19556,Zorvino Bacca Z Blackberry,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-27,2025-01-09,2025-02-06,9.39,12,112.68,2,750.0
2372471,66_EANVERNESS_22297,66,22297,Zorvino Vyds Pearz,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-26,2025-01-09,2025-02-06,6.75,12,81.00,2,750.0
2372472,69_MOUNTMEND_19557,69,19557,Zorvino Fragole Z Strawberry,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-26,2025-01-09,2025-02-06,9.39,12,112.68,2,750.0
2372473,55_DRY GULCH_22298,55,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-28,2025-01-09,2025-02-06,8.06,12,96.72,2,750.0

In [13]:
### There are whitespaces in vendornames

In [14]:
Purchase_details["VendorName"]=Purchase_details["VendorName"].str.strip()

In [15]:
Purchase_details[Purchase_details["VendorName"]!=Purchase_details["VendorName"].str.strip()]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, PurchasePrice, Quantity, Dollars, Classification, Volume]
Index: []

In [16]:
Purchase_details[(Purchase_details["PurchasePrice"]==0 ) | (Purchase_details["PurchasePrice"]<0 )]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,Volume
1369009,59_CLAETHORPES_2166,59,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2024-08-02,2024-08-10,2024-08-22,2024-10-01,0.0,12,0.0,1,750.0
1369018,38_GOULCREST_2166,38,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2024-08-02,2024-08-11,2024-08-22,2024-10-01,0.0,12,0.0,1,750.0
1369031,34_PITMERDEN_2166,34,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2024-08-02,2024-08-09,2024-08-22,2024-10-01,0.0,12,0.0,1,750.0
1369032,44_PORTHCRAWL_2166,44,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2024-08-02,2024-08-08,2024-08-22,2024-10-01,0.0,12,0.0,1,750.0
1369033,56_BEGGAR'S HOLE_2166,56,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2024-08-02,2024-08-09,2024-08-22,2024-10-01,0.0,12,0.0,1,750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2278896,39_EASTHALLOW_2166,39,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2024-12-14,2024-12-19,2024-12-28,2025-02-03,0.0,12,0.0,1,750.0
2278909,38_GOULCREST_2166,38,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2024-12-14,2024-12-20,2024-12-28,2025-02-03,0.0,10,0.0,1,750.0
2278922,9_BLACKPOOL_2166,9,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2024-12-14,2024-12-19,2024-12-28,2025-02-03,0.0,12,0.0,1,750.0
2278954,20_BREDWARDINE_2166,20,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2024-12-14,2024-12-19,2024-12-28,2025-02-03,0.0,12,0.0,1,750.0
2278958,31_HORNSEY_2166,31,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2024-12-14,2024-12-19,2024-12-28,2025-02-03,0.0,12,0.0,1,750.0

In [17]:
### Dropping rows which has price less than 0 or equals to zero
Purchase_details.drop(index=Purchase_details[(Purchase_details["PurchasePrice"]==0 ) | (Purchase_details["PurchasePrice"]<0 )].index,inplace=True)

In [18]:
Purchase_details.drop(columns=["Classification"],inplace=True)

In [19]:
Purchase_details[~np.isclose(Purchase_details["PurchasePrice"] * Purchase_details["Quantity"], Purchase_details["Dollars"], atol=0.01)]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, PurchasePrice, Quantity, Dollars, Volume]
Index: []

In [20]:
### TotalDollars must be equals to PurchasePrice*Quantity....and there are no values which are not equals...
### I have used np.isclose becasue in this data values are in floats..if I use directlu formula like...Dollars!=price*qty.. it will not give correct output

In [21]:
date_columns=[i for i in Purchase_details.columns if "Date" in i]
date_columns

['PODate', 'ReceivingDate', 'InvoiceDate', 'PayDate']

In [22]:
for col in date_columns:
    Purchase_details[col] = pd.to_datetime(Purchase_details[col])
    Purchase_details[col]=Purchase_details[col].dt.normalize()

In [53]:
round(Purchase_details.describe(include=np.dtype("int","float")),2)

            Store       Brand  VendorNumber    PONumber    Quantity
count  2372318.00  2372318.00    2372318.00  2372318.00  2372318.00
mean        44.65    12419.31       6886.71    11040.84       14.16
std         23.51    12557.42       8066.88     1565.33       23.45
min          1.00       58.00          2.00     8106.00        1.00
25%         25.00     3639.00       3252.00     9761.00        6.00
50%         48.00     6523.00       4425.00    11103.00       10.00
75%         67.00    18877.00       9552.00    12397.00       12.00
max         81.00    90631.00     201359.00    13661.00     3816.00

In [54]:
Purchase_details

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Volume
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,750.0
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1750.0
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1750.0
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1750.0
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2372469,49_GARIGILL_22298,49,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-28,2025-01-09,2025-02-06,8.06,12,96.72,750.0
2372470,1_HARDERSFIELD_19556,1,19556,Zorvino Bacca Z Blackberry,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-27,2025-01-09,2025-02-06,9.39,12,112.68,750.0
2372471,66_EANVERNESS_22297,66,22297,Zorvino Vyds Pearz,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-26,2025-01-09,2025-02-06,6.75,12,81.00,750.0
2372472,69_MOUNTMEND_19557,69,19557,Zorvino Fragole Z Strawberry,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-26,2025-01-09,2025-02-06,9.39,12,112.68,750.0
2372473,55_DRY GULCH_22298,55,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-28,2025-01-09,2025-02-06,8.06,12,96.72,750.0

In [24]:
Purchase_details.to_csv(r"C:\Users\GURU PRAVEEN REDDY J\Desktop\Datasets\Vendor Data Project Datasets\data\Cleaned Datasets\Purchase_details.csv",index=False)

In [57]:
Purchase_details.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2372318 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column         Dtype
---  ------         -----
 0   InventoryId    object
 1   Store          int64
 2   Brand          int64
 3   Description    object
 4   Size           object
 5   VendorNumber   int64
 6   VendorName     object
 7   PONumber       int64
 8   PODate         datetime64[ns]
 9   ReceivingDate  datetime64[ns]
 10  InvoiceDate    datetime64[ns]
 11  PayDate        datetime64[ns]
 12  PurchasePrice  float64
 13  Quantity       int64
 14  Dollars        float64
 15  Volume         float64
dtypes: datetime64[ns](4), float64(3), int64(5), object(4)
memory usage: 307.7+ MB