In [1]:
import pandas as pd
import numpy as np

In [2]:
Sales_info=pd.read_csv(r"C:\Users\GURU PRAVEEN REDDY J\Desktop\Datasets\Vendor Data Project Datasets\data\sales_info.csv")

In [3]:
Sales_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12825363 entries, 0 to 12825362
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   SalesQuantity   int64
 6   SalesDollars    float64
 7   SalesPrice      float64
 8   SalesDate       object
 9   Volume          float64
 10  Classification  int64
 11  ExciseTax       float64
 12  VendorNo        int64
 13  VendorName      object
dtypes: float64(4), int64(5), object(5)
memory usage: 1.3+ GB

In [4]:
Sales_info.sample(5)

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
6036423,23_ARBINGTON_3668,23,3668,Belvedere Polish Vodka,1.75L,4,175.96,43.99,2024-07-14,1750.0,1,7.35,8112,MOET HENNESSY USA INC
1687203,71_CLARCTON_5096,71,5096,DeKuyper Peachtree Schnapps,750mL,1,10.99,10.99,2024-02-17,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
8527731,35_HALIVAARA_8114,35,8114,Arrow Creme de Strawberry,750mL,1,7.99,7.99,2024-09-05,750.0,1,0.79,8352,LUXCO INC
3438038,67_EANVERNESS_1424,67,1424,Bulleit Bourbon,375mL,3,38.97,12.99,2024-04-16,375.0,1,1.18,3960,DIAGEO NORTH AMERICA INC
7926242,69_MOUNTMEND_2412,69,2412,JP Wiser's Rye,750mL,1,21.99,21.99,2024-08-01,750.0,1,0.79,17035,PERNOD RICARD USA

In [5]:
Sales_info.isnull().sum()

InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64

In [6]:
###  Sales data doen't have any nan values

In [7]:
Sales_info[Sales_info["Description"]!=Sales_info["Description"].str.strip()]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, SalesQuantity, SalesDollars, SalesPrice, SalesDate, Volume, Classification, ExciseTax, VendorNo, VendorName]
Index: []

In [8]:
Sales_info[~np.isclose(Sales_info["SalesPrice"] * Sales_info["SalesQuantity"], Sales_info["SalesDollars"], atol=0.1)]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, SalesQuantity, SalesDollars, SalesPrice, SalesDate, Volume, Classification, ExciseTax, VendorNo, VendorName]
Index: []

In [9]:
Sales_info.drop(index=Sales_info[Sales_info["SalesPrice"]<=0].index,inplace=True)

In [10]:
Sales_info.drop(columns=["Classification"],inplace=True)

In [11]:
Sales_info[Sales_info["VendorName"]!=Sales_info["VendorName"].str.strip()]

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,0.79,12546,JIM BEAM BRANDS COMPANY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12825358,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,1,25.99,25.99,2024-12-17,750.0,0.79,9165,ULTRA BEVERAGE COMPANY LLP
12825359,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,1,25.99,25.99,2024-12-21,750.0,0.79,9165,ULTRA BEVERAGE COMPANY LLP
12825360,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,3,77.97,25.99,2024-12-23,750.0,2.36,9165,ULTRA BEVERAGE COMPANY LLP
12825361,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,1,25.99,25.99,2024-12-24,750.0,0.79,9165,ULTRA BEVERAGE COMPANY LLP
12825362,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,2,51.98,25.99,2024-12-29,750.0,1.57,9165,ULTRA BEVERAGE COMPANY LLP

In [12]:
Sales_info["VendorName"]=Sales_info["VendorName"].str.strip()

In [13]:
Sales_info[Sales_info["VendorName"]!=Sales_info["VendorName"].str.strip()]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, SalesQuantity, SalesDollars, SalesPrice, SalesDate, Volume, ExciseTax, VendorNo, VendorName]
Index: []

In [14]:
date_columns=[i for i in Sales_info.columns if "Date" in i]
date_columns

['SalesDate']

In [15]:
for col in date_columns:
    Sales_info[col] = pd.to_datetime(Sales_info[col])
    Sales_info[col]=Sales_info[col].dt.normalize()

In [16]:
Sales_info.to_csv(r"C:\Users\GURU PRAVEEN REDDY J\Desktop\Datasets\Vendor Data Project Datasets\data\Cleaned Datasets\Sales_info.csv",index=False)